{% extends 'Partials/_Base.html' %}
{% load static %}
{% block Titulo %}
Listar Masas
{% endblock %}
{% block content %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="container">

            <p>Hola {{request.user}} /<a href="{% url 'auth_logout' %}">Salir</a> /<a href="{% url 'index' %}">Volver</a></p>
        <div class="row">
            
             <div class="col-md-2">
              <h1>Masas</h1>
            </div>
            <div class="col-md-2 offset-md-8">
              <a href="{% url 'add_Mass' %}">
                
              <button type="button" class="btn btn-outline-success btn-lg">Add Mass</button>

              </a>
            </div>
            <div class="col-lg-12">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col">Imagen</th>
                      <th scope="col">Codigo</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in object_list %}


                    <tr>
                      <th scope="row"></th>
                      <td>{{i.name}}</td>
                      <td>{{i.description}}</td>
                      <td>{{i.image}}</td>
                      <td>{{i.code}}</td>
                      <td>{{i.price}}</td>

                      <td>
                        <div class="dropdown">
                          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manager
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button"><a href="{% url 'edit_Mass' i.code %}">Editar</a></button>
                            <button class="dropdown-item" type="button"><a href="{% url 'delete_Mass' i.code %}">Eliminar</a></button>

                          </div>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
            <div class="row">
                {% if object_list.has_next or object_list.has_previous %}
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                         {% if object_list.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ object_list.previous_page_number }}">Previous</a></li>
                        {% endif %}

                        {% for page in object_list.paginator.page_range %}
                        <li class="page-item {% if object_list.number == page %}active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                        {% endfor %}

                         {% if object_list.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ object_list.next_page_number }}">Next</a></li>
                        {% endif %}
                      </ul>
                    </nav>

                {% endif %}
            </div>



        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
{% endblock %}
