{% extends 'Partials/_Base.html' %}
{% load static %}
{% block Titulo %}
Listar Ingredientes
{% endblock %}
{% block content %}
    <div class="container">

      <div class="row cost">
        <div class="col-lg-9 col-sm-9 col-md-9 col-xl-9"><h2>Hola, {{request.user}}</h2></div>
        <div class="col-lg-3 col-sm-3 col-md-3 col-xl-3"><h2><a  href="{% url 'auth_logout' %}">Salir</a> / <a href="{% url 'index' %}">Volver</a></h2></div>
      </div>
        <div class="row justify-content-md-center ">
             <div class="col-md-3 paddin1">
               <a href="{% url 'add_Ingredients' %}">
               <button type="button" class="btn btn-outline-success btn-lg">Agregar Ingrediente</button></a>

            </div>
            <div class="col-lg-12 col-sm-12 col-md-12 col-xl-12">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col">Imagen</th>
                      <th scope="col">Codigo</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in object_list %}


                    <tr>
                      <th scope="row"></th>
                      <td>{{i.name}}</td>
                      <td>{{i.description}}</td>
                      <td ><div><img style="width:50px; height:50px;" src="{{i.image.url}}" alt="img"></div></td>
                      <td>{{i.code}}</td>
                      <td>{{i.price}}</td>

                      <td>
                        <div class="dropdown">
                          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Manager
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button"><a href="{% url 'edit_Ingredients' i.pk %}">Editar</a></button>
                            <button class="dropdown-item" type="button"><a href="{% url 'delete_Ingredients' i.pk %}">Eliminar</a></button>

                          </div>
                        </div>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
            <div class="row">
                {% if object_list.has_next or object_list.has_previous %}
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                         {% if object_list.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ object_list.previous_page_number }}">Previous</a></li>
                        {% endif %}

                        {% for page in object_list.paginator.page_range %}
                        <li class="page-item {% if object_list.number == page %}active{% endif %}"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                        {% endfor %}

                         {% if object_list.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ object_list.next_page_number }}">Next</a></li>
                        {% endif %}
                      </ul>
                    </nav>

                {% endif %}
            </div>



        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
{% endblock %}
